<head>
  <style> body { margin: 0; } </style>

<script src="//unpkg.com/three"></script>

  <script src="//unpkg.com/3d-force-graph"></script>
  <!--<script src="../../dist/3d-force-graph.js"></script>-->
  <style>
    .clickable { cursor: unset !important }
  </style>
</head>

<body>
  <div id="3d-graph"></div>

    <script>

      var gData = {{graph |tojson| safe}};
      
      const Graph = ForceGraph3D()
        .graphData(gData)
        .nodeLabel(node => node.id)
        .linkWidth(link => ((link.weight*100)* (link.weight*100))/1000)
        .linkOpacity(link => (1-link.weight)*(1-link.weight))
        .onNodeClick(showClusterImages)
        .onNodeRightClick(removeDisplay)

        (document.getElementById('3d-graph'))
        .nodeThreeObject(({ id }) => {
          const imgTexture = new THREE.TextureLoader().load(`./static/clusters/${id}.jpg`);
        
          const material = new THREE.SpriteMaterial({ map: imgTexture });
          const sprite = new THREE.Sprite(material); 
          sprite.scale.set(25, 15);
          return sprite;
        });

      const linkForce = Graph
        .d3Force('link')
        .distance(link => (((1-link.weight)*500)*((1-link.weight)*500))/1000);

      function showClusterImages(id) {
        var yAxis = 35;
        var xAxis = 50;

        Graph.scene().add(Graph.camera());
        var meshes = {};

        for (let i = 0; i < 10; i++) {
          plan = new THREE.PlaneGeometry(25, 15, 1, 1);
          var map = new THREE.TextureLoader().load( `./static/clusters/${id.id}_${i}.jpg`);
          var material = new THREE.MeshBasicMaterial( { map: map } );
          const mesh = new THREE.Mesh(plan , material);
          meshes[i] = mesh;
        }

        for(var p in meshes){
          Graph.camera().add(meshes[p]);
          meshes[p].position.set(xAxis,yAxis,-100);
          yAxis -= 17;

          if (p == 4){
            yAxis = 35;
            xAxis = 76;
          }
        }

      }

      function removeDisplay(){
        Graph.scene().remove(Graph.camera());
      }


  </script>
</body>
